@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: darkslategrey;
  color: antiquewhite;
}
.menu a{
  color: antiquewhite;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.hero span {
  color: gold;
}
#titulo{
  font-size: 35px;
}
#titulo:hover {
  color: goldenrod;
  transition: ease-in 0.5s;
}
#martin {
  font-size: 80px;
}
.navegador {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
 .menu li{
  list-style: none;
 }

 .menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
 }
 .menu a:hover{
  background-color: gold;
  color: rgb(13, 20, 17);
  border-radius: 40%;
  transition: ease-in-out 0.5s;
 } 

 span{
  color: gold;
 }
 #perfil {
  border-radius: 45%;
 }

 main {
  margin: 0 auto;
  width: 85vw;
  height: 85vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
 }
 h1{
  font-size: 3em;
 }
 #descarga {
  margin: 20px 20px;
  padding: 10px 20px;
  background-color: gold;
  color: darkslategrey;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px;
  border: none;
 }
#descarga:hover{
  font-size: 20px;
  transition: 0.6s;
  border-radius: 20px;
}

.about {
    width: 100vw;
    height: 100vw;
    background-image: url(fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#about-me{
  font-size: 80px;
  text-align: center;
  padding-top: 30px;
  color: antiquewhite;
}
.info-personal{
  padding: 5em;
  margin: 50px;

}
.subT-info{
  font-size: 45px;
  text-align: center;
  margin: 40px;
  color: antiquewhite;
}
.parrafo-info{
  font-size: 25px;
  color: antiquewhite;
}
