@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-color: darkslategrey;
  color: antiquewhite;
}
.menu a{
  color: antiquewhite;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}
.hero span {
  color: gold;
}
#titulo{
  font-size: 35px;
}
#titulo:hover {
  color: goldenrod;
  transition: ease-in 0.5s;
}
#martin {
  font-size: 80px;
}
.navegador {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
 .menu li{
  list-style: none;
 }

 .menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
 }
 .menu a:hover{
  background-color: gold;
  color: rgb(13, 20, 17);
  border-radius: 40%;
  transition: ease-in-out 0.5s;
 } 

 span{
  color: gold;
 }
 #perfil {
  border-radius: 45%;
  width: 300px;
  margin-top: 100px;

 }

 main {
  margin: 0 auto;
  width: 85vw;
  height: 85vw;
  display: grid;
  grid-template-columns: repeat(2,1fr);
 }
 h1{
  font-size: 3em;
 }
 #descarga {
  margin: 20px 20px;
  padding: 10px 20px;
  background-color: gold;
  color: darkslategrey;
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px;
  border: none;
 }
#descarga:hover{
  font-size: 20px;
  transition: 0.6s;
  border-radius: 20px;
}

.fondo {
    width: 100vw;
    height: 175vw;
    background-image: url(fondo1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#about-me{
  font-size: 80px;
  text-align: center;
  padding-top: 30px;
  color: antiquewhite;
}
.info-personal{
  padding: 5em;
  margin: 50px;

}
.subT-info{
  font-size: 45px;
  text-align: center;
  margin: 40px;
  color: antiquewhite;
}
.parrafo-info{
  font-size: 25px;
  color: antiquewhite;
}

.tarjetas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tarjeta {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.1);
}

.tarjeta img {
  width: 200px;
  border-radius: 8px;
 margin-left: 13%;
 

}

.tarjeta .contenido {
  padding: 10px;
}

.tarjeta h2 {
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.tarjeta p {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.tarjeta a {
  font-size: 30px;
  color: black;
}

.comentarios {
  width: 400px;
  margin: 20px auto;
}

.comentarios h2 {
  text-align: center;
}

.comentarios ul {
  list-style-type: none;
  padding: 0;
}

.comentarios li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
}

.agregar-comentario {
  margin-top: 20px;
}

.agregar-comentario h3 {
  margin-bottom: 5px;
}

.agregar-comentario textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
}

#btn-agregar {
  display: block;
  font-size: larger;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  height: 55px;
  width: 90px;
  border-radius: 40px;
}

#btn-agregar:hover {
  font-size: 20px;
  transition: 0.6s;
  border-radius: 20px;
  height: 60px;
  width: 100px;
}

@keyframes bounce-out {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.bounce-out {
  animation: bounce-out 0.8s;
}

#skills  {
  margin-top: 300px;
}

#proyects  {
  margin-top: 300px;
}

#comments  {
  margin-top: 300px;
}